@import "./../global/global.scss";

.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "sb hd hd hd hd" "sb ct ct ct ct";
  background-color: $BackgroundColor;
  .header {
    grid-area: hd;
  }
  .sidebar {
    grid-area: sb;
  }
  .content {
    grid-area: ct;
  }
}
