<div class="content">
  <div class="teste">
    <div class="contentheader">
      <app-title [title]="'Form'"></app-title>
      <div class="line"></div>
    </div>
    <div class="contentbody">
      <app-input [label]="'UserName *'" class="mt"></app-input>
      <app-input [label]="'E-Mail *'" class="mt"></app-input>
      <app-input [label]="'Password'" class="mt"></app-input>
      <app-input [label]="'Password Confirmation'" class="mt"></app-input>
      <div class="buttons">
        <app-button [buttonLabel]="'Cancel'"></app-button>
        <app-button [buttonLabel]="'Confirm'" class="ml"></app-button>
      </div>
    </div>
  </div>
</div>
